h1
{
    font-size: 2rem;
    text-transform: uppercase;
}
h4, .h4 
{ 
    font-size: 1.5rem; 
    color: #000; 
    text-transform: uppercase; 
    padding-bottom: 0.938rem; 
    margin-bottom: 0;
    font-weight: 400; 
    font-style: normal;
    letter-spacing: 5px;
    line-height: 1;
}
ul { list-style-type: none; padding-left: 0; }
header { position: fixed; display: block; width: 100%; top: -100px; z-index: 2000; opacity: 0; transition: all .5s; }
header.sticky 
{ 
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}
.nav-link { text-transform: uppercase; }
.banner
{
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url('img/site/banner.png');
    background-color: rgba(51, 51, 51, 0.75);
    color: #fff;
}
.banner:before 
{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('img/site/header_bg.jpg');
    z-index: -1;
}
.banner p { letter-spacing: 5px; }
.section { padding-top: 3rem; padding-bottom: 3rem; }
.section-title { position: relative; display: block; margin-bottom: 1.25rem; }
.section-title hr 
{ background: #8c4429; border-color: #8c4429; border-width: 3px; width: 5rem; margin-top: 0; }
.img-pre
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-presentation
{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    max-width: 100%;
    width: 15rem;
    height: 15rem;
}
.list-reseau { display: flex; flex-wrap: wrap; list-style: none; }
.list-reseau li { margin-right: 1rem; }
.list-reseau li a { font-size: 2rem; }
.linkedin { color: #006192; }
.github { color: #777; }
.instagram { color: #cc2366; }
.template .col-sm-5 { overflow: hidden; height: 300px; margin-top: 2rem; }
footer { background-image: url('img/site/banner.png'); }
footer .row { padding-top: 3rem; padding-bottom: 1rem; }
@media (min-width: 768px) {
    .banner h1 { font-size: 4rem; text-transform: uppercase; }
}
@media (min-width: 1200px) {
    .section { padding-top: 5rem; padding-bottom: 5rem; }
    footer .row { padding-top: 5rem; padding-bottom: 2rem; }
}